<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEPV</title>
    <link rel="stylesheet" href="CSS/sobre.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <header>
  <div class="logo">
    <a href="index.html"><img src="imagens/logo1.png" alt="Logo" /></a>
</div>
  <div class="center">
    <div class="menu">
        <a href="../index.html">Inicio</a>
      <a href="acessar.html">Acesso</a>
      <a href="sobre.html">Sobre Nós</a>
    </div>
  </div>
  </header>
  <div class="conteiner">
      <div id="carouselExampleCaptions" class="carousel slide carouselslide" data-bs-ride="carousel">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://i.pinimg.com/originals/0e/a4/47/0ea447bcb0cb781c2da2d662e628b44c.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Baixa de Erros</h5>
                        <p>Evite compras excessivas e falta de produtos essenciais</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/originals/0e/a4/47/0ea447bcb0cb781c2da2d662e628b44c.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Eficiência na Precificação</h5>
                        <p>Ajuste preços corretamente com base em custos e rotatividade</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/originals/0e/a4/47/0ea447bcb0cb781c2da2d662e628b44c.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Produtos Sempre Disponíveis</h5>
                        <p>Garante disponibilidade de produtos, melhorando o atendimento ao cliente</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/originals/0e/a4/47/0ea447bcb0cb781c2da2d662e628b44c.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Você no Controle</h5>
                        <p>Tenha visão clara e em tempo real dos níveis do estoque</p>
                    </div>
                    <div class="bolha-vermelha"></div>
                    
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="texto">
          <h1>Sobre <span style="color: #E70000">nós</span></h1><br>
          <p>Na BEPV, nossa missão é transformar a forma como salões de cabelo gerenciam seu estoque. Sabemos o quão desafiador pode ser manter o controle de produtos essenciais e garantir que tudo esteja sempre disponível para atender seus clientes da melhor forma possível.</p> 

          <p>Por isso, criamos uma plataforma simples, eficiente e intuitiva, para que você tenha total controle sobre seu estoque, com a praticidade que seu salão merece. Com o nosso sistema, você pode organizar, monitorar e ajustar seus níveis de produtos com facilidade, permitindo que você se concentre no que realmente importa: oferecer o melhor serviço aos seus clientes.</p> 
            
          <p>Nosso compromisso é com a qualidade, a eficiência e, claro, a experiência do usuário. Estamos aqui para ajudá-lo a otimizar seu tempo e a garantir que seu salão esteja sempre pronto para atender da melhor maneira possível.</p>   
            
          <p>Junte-se a nós e faça parte dessa transformação!</p>                
        </div>
  </div>

  <footer>
   <p>&copy; 2024 BEPV. Todos os direitos reservados.</p>
   <p>
       <a href="#"">0800 799 0000</a> | 
       <a href="#">contato@bepv.com.br</a> | 
       <a href="#">FAQ</a>
   </p>
   </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>